.cart__empty {
  display: flex;
  justify-content: center;
}

.cart__total {
  padding: 20px 10px;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  padding-right: 120px;
}

.cart__total span {
  margin-left: 53px;
}
