.Item {
  display: flex;
  justify-content: space-between;
  transition: background-color 1s;
  padding: 20px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.Item-price {
  padding: 0 0 0 10px;
  white-space: nowrap;
  font-size: 18px;
}
