.item {
  display: flex;
  justify-content: flex-start;
  height: 60px;
  border-top: 1px dashed #ccc;
  transition: background-color 1s;
}

.item__code {
  padding: 20px 10px 20px 19px;
}

.item__title {
  width: 100%;
  padding: 20px;
}

.item__price {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px 24px;
}

.item__number {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  padding: 20px 24px 20px 0;
}

.item__actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}


