.details {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
}

.link {
  color: #0087e9;
  margin: 20px;
  position: absolute;
}

.details-content {
  padding-left: 40px;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.7px;
}

span {
  font-weight: 700;
}

.details-price {
  font-size: 24px;
  font-weight: 700;
  line-height: 27.6px;
}
